name: Update Tracker Radar

on:
  # each Monday at 9am
  schedule:
    - cron: "0 9 * * 1"
    # manual trigger
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout pipeline repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}

      # clone tracker-radar from DuckDuckGo repo
      - name: Clone DuckDuckGo Tracker Radar
        run: |
          git clone https://github.com/duckduckgo/tracker-radar.git

      # install node to run extract script
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # run extract script
      - name: Run extract script
        run: node extract.js

      #  push to extension repo
      - name: Push updated TS files to extension repo
        run: |
          git clone https://${{ secrets.ACTIONS_TOKEN }}@github.com/leolivi/detecta.git extension
          cp dist/tracker.json extension/src/data/
          cd extension
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add src/data/tracker.json
          if git diff --cached --quiet; then
            echo "No changes"
          else
            git commit -m "Update tracker radar data"
            git push
          fi
